# Can we predict the specie at hand if we input the percentages of it in t1,t2,t3 per a sample and the water conditions?

In [1]:
import pandas as pd
import torch

In [3]:
conditions_df = pd.read_csv("conditions_df.csv")
conditions_df

,time,TAN_DF,pH_DF,NO2_DF,Alkalinity_DF,TAN_DGS,pH_DGS,NO2_DGS,Alkalinity_DGS,Flow_rate,...,TAN_removal_biocarrier,co2_mgl,h2s_ugl,o2_mgl,o2_sat,salinity,temp,sample_name,System,TimeStamp
0,29/08/2022 08:30,0.240,7.880,0.640,342.40,0.180,7.860,0.710,344.00,60.000000,...,0.000034,7.03,0.16,7.79,83.78,14.88,15.10,B1_1,B,1
1,29/08/2022 08:31,0.280,8.070,0.640,433.40,0.220,8.020,0.550,433.90,60.000000,...,0.000038,4.93,0.32,8.41,89.33,13.02,15.10,A1_1,A,1
2,05/09/2022 08:30,0.160,7.600,0.460,234.00,0.120,7.900,0.620,234.00,60.000000,...,0.000023,8.76,0.13,7.57,81.98,16.36,15.30,B1_2,B,2
3,05/09/2022 08:31,0.150,7.700,0.460,233.40,0.040,8.000,0.350,232.00,60.000000,...,0.000070,7.61,0.20,8.20,86.99,13.89,15.00,A1_2,A,2
4,12/09/2022 08:30,0.160,7.565,0.270,204.40,0.090,7.828,0.220,218.30,60.000000,...,0.000050,9.08,0.11,7.40,82.05,16.98,15.20,B1_3,B,3
5,12/09/2022 08:31,0.120,7.650,0.180,196.20,0.060,7.930,0.150,199.20,60.000000,...,0.000038,6.82,0.20,7.96,86.20,14.23,14.80,A1_3,A,3
6,19/09/2022 08:30,0.290,7.150,0.340,88.72,0.200,7.460,0.290,87.96,54.000000,...,0.000064,11.73,0.21,7.27,79.89,16.96,15.20,B2_1,B,1
7,19/09/2022 08:31,0.250,7.314,0.240,96.43,0.140,7.611,0.210,96.34,49.000000,...,0.000067,9.38,0.27,8.10,87.01,14.31,14.90,A2_1,A,1
8,26/09/2022 08:30,0.460,7.108,0.410,88.44,0.100,7.426,0.110,86.31,44.000000,...,0.000196,13.55,0.26,7.30,82.76,17.04,15.20,B2_2,B,2
9,26/09/2022 08:31,0.180,7.358,0.300,88.50,0.170,7.596,0.130,88.21,66.000000,...,0.000008,8.42,0.21,8.13,90.40,14.29,15.15,A2_2,A,2
10,03/10/2022 08:30,0.300,6.900,0.200,78.22,0.250,7.100,0.180,77.38,54.000000,...,0.000033,11.95,0.21,7.70,84.06,16.37,15.10,B3_1,B,1
11,03/10/2022 08:31,0.180,7.200,0.160,104.50,0.100,7.400,0.120,105.00,60.000000,...,0.000059,8.63,0.28,8.05,86.84,15.00,15.00,A3_1,A,1
12,10/10/2022 08:30,0.365,6.962,0.200,67.71,0.185,7.278,0.140,66.48,54.000000,...,0.000120,12.90,0.21,7.07,79.14,17.01,15.21,B3_2,B,2
13,10/10/2022 08:31,0.290,7.273,0.230,112.50,0.140,7.560,0.180,109.80,60.000000,...,0.000111,11.44,0.24,7.63,83.53,14.79,14.90,A3_2,A,2
14,17/10/2022 08:30,0.260,7.448,0.200,194.00,0.140,7.667,0.150,191.20,60.000000,...,0.000089,12.18,0.17,7.53,83.57,17.51,15.40,B4_1,B,1
15,17/10/2022 08:31,0.280,7.100,0.190,94.01,0.150,7.357,0.130,91.07,60.000000,...,0.000097,11.97,0.10,9.10,99.19,14.35,15.20,A4_1,A,1
16,24/10/2022 08:30,0.210,7.470,0.120,171.20,0.135,7.672,0.090,175.80,57.250000,...,0.000056,10.57,0.15,7.64,85.29,16.89,15.30,B4_2,B,2
17,24/10/2022 08:31,0.290,7.115,0.180,90.01,0.140,7.365,0.100,89.37,60.000000,...,0.000111,12.47,0.29,8.56,94.35,14.75,15.16,A4_2,A,2
18,31/10/2022 08:30,0.280,7.145,0.115,92.25,0.145,7.374,0.850,88.86,57.250000,...,0.000096,10.69,0.18,7.64,85.03,17.12,15.30,B5_1,B,1
19,31/10/2022 08:31,0.295,7.564,0.130,175.50,0.070,7.738,0.385,174.90,57.250000,...,0.000160,8.18,0.25,8.28,90.16,14.41,15.20,A5_1,A,1
20,07/11/2022 08:30,0.225,7.196,0.070,101.00,0.120,7.509,0.050,98.88,57.250000,...,0.000074,9.57,0.18,7.44,83.87,16.87,15.30,B5_2,B,2
21,07/11/2022 08:31,0.240,7.547,0.070,118.50,0.105,7.761,0.070,118.40,57.280000,...,0.000096,6.74,0.27,8.37,92.69,14.63,15.10,A5_2,A,2
22,14/11/2022 08:30,0.295,7.007,0.130,78.56,0.130,7.153,0.070,79.31,57.200000,...,0.000117,10.79,0.21,8.27,90.29,16.09,15.30,B6_1,B,1
23,14/11/2022 08:31,0.240,7.336,0.090,111.70,0.090,7.501,0.060,110.00,60.000000,...,0.000111,8.04,0.26,8.66,93.43,14.63,15.10,A6_1,A,1
24,21/11/2022 08:30,0.280,6.962,0.090,66.79,0.130,7.130,0.060,64.92,70.933333,...,0.000132,10.15,0.22,8.26,91.26,17.23,14.80,B6_2,B,2
25,21/11/2022 08:31,0.290,7.402,0.090,137.60,0.155,7.550,0.070,138.00,70.933333,...,0.000119,9.02,0.28,8.66,95.09,14.67,15.20,A6_2,A,2
26,28/11/2022 08:30,0.400,7.060,0.050,69.88,0.145,7.227,0.040,69.90,57.250000,...,0.000181,9.18,0.26,7.99,88.13,16.29,15.20,B7_1,B,1
27,28/11/2022 08:31,0.340,7.082,0.090,69.75,0.100,7.334,0.070,68.12,68.200000,...,0.000203,8.50,0.26,8.55,92.96,14.71,15.10,A7_1,A,1
28,05/12/2022 08:30,0.445,7.159,0.155,127.60,0.230,7.267,0.090,127.50,73.650000,...,0.000196,11.11,0.23,9.56,104.26,16.77,15.40,B7_2,B,2
29,05/12/2022 08:31,0.320,7.050,0.100,84.53,0.200,7.245,0.070,82.42,73.650000,...,0.000109,10.33,0.24,8.26,87.50,14.22,14.90,A7_2,A,2
30,12/12/2022 08:30,0.290,7.007,0.060,54.98,0.170,7.105,0.040,55.87,70.933333,...,0.000105,7.80,0.22,8.68,94.38,16.58,14.60,B8_1,B,1
31,12/12/2022 08:31,0.210,7.464,0.140,259.90,0.110,7.632,0.070,252.90,54.533333,...,0.000068,10.81,0.29,9.25,100.29,14.99,14.90,A8_1,A,1
32,19/12/2022 08:30,0.530,6.889,0.125,73.00,0.395,7.104,0.100,70.90,62.750000,...,0.000105,14.24,0.22,8.03,89.32,17.26,15.20,B8_2,B,2
33,19/12/2022 08:31,0.280,7.495,0.150,222.60,0.130,7.648,0.080,227.20,68.200000,...,0.000127,9.57,0.29,8.61,93.94,14.88,14.80,A8_2,A,2
34,02/01/2023 08:30,0.425,6.973,0.120,84.23,0.270,7.218,0.090,79.00,62.750000,...,0.000120,10.67,0.18,8.75,95.17,15.60,14.50,B9_1,B,1
35,02/01/2023 08:31,0.290,7.112,0.070,88.67,0.155,7.359,0.080,93.60,46.350000,...,0.000078,10.03,0.27,8.51,92.84,14.56,15.00,A9_1,A,1
36,09/01/2023 08:30,0.270,7.446,0.090,176.00,0.135,7.774,0.060,186.00,62.750000,...,0.000105,8.80,0.16,8.27,94.44,17.45,15.30,B9_2,B,2
37,09/01/2023 08:31,0.255,7.212,0.050,73.91,0.140,7.426,0.090,74.65,57.250000,...,0.000082,7.32,0.21,8.05,89.88,14.58,15.10,A9_2,A,2
38,16/01/2023 08:30,0.250,7.564,0.080,192.60,0.165,7.688,0.070,205.90,73.650000,...,0.000078,7.49,0.18,8.24,93.87,17.21,15.20,B9_3,B,3
39,16/01/2023 08:31,0.305,7.131,0.070,76.56,0.160,7.387,0.050,74.20,51.800000,...,0.000093,9.52,0.27,7.60,84.92,14.87,14.90,A9_3,A,3

In [2]:
species_df = pd.read_csv("sample_by_specie_timewise.csv")
species_df.head()

,id,Specie,System,Treatment,Replica,t1,t2,t3,slope,var,std,mean
0,Homo sapiens_A1_A,Homo sapiens,A,1,A,0.262329,0.327225,0.831947,0.284809,0.064824,0.254606,0.473834
1,Homo sapiens_A1_B,Homo sapiens,A,1,B,0.318878,0.447284,0.941915,0.311519,0.072147,0.268602,0.569359
2,Homo sapiens_A1_C,Homo sapiens,A,1,C,0.286041,0.518135,0.730994,0.222476,0.033018,0.181708,0.511723
3,Homo sapiens_A2_A,Homo sapiens,A,2,A,0.641026,0.587084,0.000000,-0.320513,0.084277,0.290305,0.409370
4,Homo sapiens_A2_B,Homo sapiens,A,2,B,0.729927,0.543478,0.000000,-0.364964,0.095881,0.309646,0.424468

In [ ]:
class Dataset():
    def __init__(self, species_df, conditions):
        self.species_df = species_df
        self.conditions = conditions

        #diferent species
        self.species_vocab = species_df["Specie"].unique().tolist()

    
    def __len__(self):
        return len(self.species_df)
    
    def __getitem__(self, idx):
        assert ((idx >= 0) & (idx < self.__len__())), "Dataset index out of range"

        row =  self.species_df.iloc[idx]
        percents =row["t1","t2","t3"]
        y = self.species_vocab.index(row["Specie"]) #one hot specie

        cond_by_t = []
        for t in range(1,4):
            conditions = self.conditions_df[(self.conditions_df["System"] == row["System"]) & (self.conditions_df["TimeStamp"] == row["System"])]

        
        
        return  torch.tensor([one_hot_idx],dtype=int) , torch.tensor([t] + conditions[str(self.species_df.iloc[real_id]["System"]) + str(self.species_df.iloc[real_id]["Treatment"]) ],dtype=torch.float) , torch.tensor(y,dtype=torch.float)